.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    background-color: black;
}

.item {
    margin-right: 1em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}